body
    box-sizing: border-box
    margin: 0
    padding: 0
    background-color: $bg-soft
    overflow-y: scroll

*
    box-sizing: border-box


a
    text-decoration: none
    color: black

#root
  min-height: 100vh
  width: 100vw
  +flex-center
  


/* Para navegadores Webkit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button input[type="number"]::-webkit-outer-spin-button 
  -webkit-appearance: none
  margin: 0


/* Para navegadores basados en Firefox */
input[type="number"] 
  -moz-appearance: textfield
