.products-cards-section
    background-color: #fff
    margin-bottom: 20px
    margin-top: 20px
    border-radius: 24px
    +flex-between
    .product-card
        width: 45%
        align-self: stretch
        +md
            width: 22%
        .img-container
            width: 100%
            overflow: hidden
            height: 200px
            img

        .product-card-body

            .product-card-name
            .product-card-description
            .product-card-price

        .product-card-footer
